<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首頁 - {{ title }}</title>
    <link rel="stylesheet" href="{{ baseUrl }}/styles.css"/>
  </head>
  <body>
    {% block intro %}
    <header id="header">
      <div class="wrap">
        <nav>
          <div id="logo"><a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/images/logo.png"/></a></div>
          {% block header %}{% endblock %}
        </nav>
      </div>
    </header>
    {% endblock %}
    <div id="content">
      <div class="wrap">
        {% block content %}{% endblock %}
      </div>
    </div>
    <footer id="footer">
      <div class="wrap">
        {% block footer %}{% endblock %}
      </div>
    </footer>
  </body>
</html>
