{% extends "default.twig" %}

{% block header %}
  <div id="header">
    <header>
      <div class="wrap">
        <nav>
          <div id="logo"><a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/images/logo.png"/></a></div>
          {% include "locale.twig" %}
        </nav>
      </div>
    </header>
    <div id="header-image"></div>
  </div>
{% endblock %}

{% block content %}
  <div id="features">
    {% include "events.twig" %}
    {% include "navbar.twig" %}
    {% include "archivebar.twig" %}
  </div>
  {{ content|raw }}
{% endblock %}
