{% extends "default.twig" %}

{% block header %}
<header id="header">
  <div class="wrap">
    <div id="logo"><a href="{{ baseUrl }}/"><img src="{{ baseUrl }}/images/logo.png"/></a></div>
    {% include "locale.twig" %}
  </div>
</header>
<div id="header-image"></div>
{% endblock %}

{% block content %}
  <div id="features">
    {% include "events.twig" %}
    {% include "navbar.twig" %}
    {% include "archivebar.twig" %}
  </div>
  {{ content|raw }}
{% endblock %}
