{% extends "default.twig" %}

{% block header %}
<header id="header">
  <div class="wrap">
    <a id="logo" href="{{ baseUrl }}/"><img src="{{ baseUrl }}/images/logo.png"/></a>
    {% include "locale.twig" %}
  </div>
</header>
<div id="header-image"></div>
<div id="mobile-header-image"><img src="{{barUrl}}/images/mobile-header.jpg"/></div>
{% endblock %}

{% block content %}
  <div id="features">
    {% include "events.twig" %}
    {% include "navbar.twig" %}
    {% include "archivebar.twig" %}
  </div>
  {{ content|raw }}
{% endblock %}
