<aside class="right sponsers roll">
  <section>
    <div class="aside title">白銀級贊助</div>
    <div class="aside sponser banner"><a href="http://www.archilife.org/"><img src="images/sponsor-archilife.jpg" alt="祐生研究基金會" /></a></div>
  </section>
  <section>
    <div class="aside title">青銅級贊助</div>
    <div class="aside sponser banner"><a href="http://www.wabow.com/"><img src="images/sponsor-wabow.jpg" alt="哇寶國際資訊" /></a></div>
  </section>
</aside>
