
/* layout */

body {
  margin: 0;
  padding: 0;
}

#header,
#content,
#features,
#header-image,
#footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

#header {
  flex-direction: column;
  color: #dbdbdb;
  align-items: center;
}

.wrap {
  max-width: 1020px;
  flex: 1;
}

#intro {
  display: flex;
  flex-direction: column;
  height: 750px;
  justify-content: space-between;
  align-items: center;
}

#header,
#footer,
#content {
  display: flex;
  justify-content: center;
  width: 100%;
}

#header nav {
  justify-content: space-between;
}

#logo {
  width: 90px;
  height: 33px;
}

/* header */

#header header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #484848;
}

#header-image {
  height: 267px;
  background: url("images/header.jpg") center no-repeat;
}

#header a {
  color: #dbdbdb;
  text-decoration: none;
}

#header-image:after {
  display: block;
  content: ".";
  background: #484848;
  height: 2px;
  width: 100%;
  position: relative;
  top: 267px;
}

/* events */

#events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#events .row {
  display: flex;
}

/* items */

ul.menu {
  padding: 0;
}

.menu li {
  list-style: none;
  display: inline;
}

.block {
  padding: 4em 10em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
